<div class="social-links-container" id="social-links-container">
    <p class="social-title">Find me on:</p>
    <p class="social-links">
        <a rel="noopener" target="_blank" href="https://github.com/..." aria-label="github-link">GitHub</a> |
        <a rel="noopener" target="_blank" href="mailto:me@..gmail.com" aria-label="email-link">Email</a> |
        <a rel="noopener" target="_blank" href="https://www.linkedin.com/in/.../" aria-label="linkedin-link">LinkedIn</a> |
        <a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}">RSS</a>
    </p>
</div>

<style>
    .social-links-container {
        position: fixed;
        bottom: 10px;
        right: 10px;
        text-align: right;
        display: none; /* Initially hide the container */
        transition: opacity 0.5s; /* Add a smooth transition effect */
    }

    .social-title {
        margin-bottom: 5px;
    }

    .social-links a {
        margin-right: 5px;
    }
</style>

<script>
    var scrolled = false;

    window.addEventListener('scroll', function() {
        if (window.scrollY > 100 && !scrolled) { // Adjust the scroll threshold as needed
            document.getElementById('social-links-container').style.display = 'block'; // Show the container
            setTimeout(function() {
                scrolled = true;
            }, 500); // Set a timeout to prevent frequent toggling
        } else if (window.scrollY <= 100 && scrolled) {
            document.getElementById('social-links-container').style.display = 'none'; // Hide the container
            scrolled = false;
        }
    });
</script>
