<div style="display: flex; justify-content: center;">
    <p style="text-align: center; margin-left: 200px;">
        <a rel="noopener" target="_blank" href="https://github.com/KonstantinosTsoumas" aria-label="github-link">GitHub</a> |
        <a rel="noopener" target="_blank" href="mailto:me@tsoumascon@gmail.com" aria-label="email-link">Email</a> |
        <a rel="noopener" target="_blank" href="https://www.linkedin.com/in/konstantinostsoumas/" aria-label="linkedin-link">LinkedIn</a> |
        <a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}">RSS</a>
    </p>
</div>
